body {
  background-color: #ffffff;
}

.navbar {
  margin: 0px;
  padding: 5px;
  position: relative;
  z-index: 3;
  background-color: #ffffff;
}

.navbarTab {
  padding-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-between;

  gap: 10px;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 20px;
}

.categoriesContainer {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 20px;
  padding-left: 100px;
}

.cartContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 20px;
  padding-right: 90px;
}

.PLPcontainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  gap: 10px 10px;
  row-gap: 50px;
  column-gap: 45px;
  margin-bottom: 30px;
}



.PLPimage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.PLPimageContainer {
  position: relative;
  width: 354px;
  height: 330px;
}

.PLPitem {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 354px;
  height: auto;
  padding: 10px;
  transition: box-shadow 0.3s;
}

.PLPitemInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  gap: 8px;
}

.PLPitem:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.PDPcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 96px;
}

.PDPgallery {
  display: flex;
  flex-direction: row;
}

.galleryImagesContainer {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}

.PDPimage {
  width: 610px;
  height: 511px;
  object-fit: contain;
  margin-left: 20px;
}

.Attrs {
  display: flex;
  flex-direction: column;
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 10px;
}

.itemAttributes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.attrname {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.itemAtrrs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.cartOverLayEmbt {
  position: absolute;
  /* top: 10%; */
  left: 77%;
  width: auto;
  height: auto;
  padding: 16px;
  /* float: right; */

  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}



.cartOverLay {
  position: absolute;
  /* top: 10%; */
  left: 70%;
  width: auto;
  height: auto;
  padding: 16px;
  /* float: right; */

  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}


.overcast {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.cart {
  position: absolute;
  top: 10%;
  width: auto;
  height: auto;
  margin-left: 101px;
  /* float: right; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* z-index: 100; */
}

.currencyMenu {
  position: absolute;
}

.currencyItem:hover {
  background-color: #EEEEEE;
}

.currencyRep {
  padding: 7px;
}

.cartImgContainer {
  width: 120px;
  height: 190px;
}



.miniCartImg {
  width: 120px;
  height: 190px;
  object-fit: contain;
}

.activeTab {
  color: chartreuse;
  border-bottom: chartreuse 2px solid;
}

.outOfStock {
  opacity: 0.5;
}

.outOfStockOverlay {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.quickAdd {
  position: absolute;
  right: 31px;
  border-radius: 50%;
}

.backbutton {
  border-radius: 50%;
}

.backsvg {
  width: 35px;
  height: 35px;
  padding-left: 20px;
}

.attrsRep {
  border: 1px solid black;
}

.attrSelected {
  background-color: black;
  color: white;
}

.colorSelected {
  border: 2px solid #5ece7b;
}

.colorBox {
  width: 20px;
  height: 20px;
}

.currencyIcon {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.iconWrapper {
  position: relative;
}

.quantityLayout button {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  background-color: white;
  color: black;
}

.miniCartCount {
  position: absolute;
  top: -9px;
  right: -9px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: 0px;
  align-items: center;
  text-align: center;
  font-size: small;

  background-color: black;
  color: white;
}

.quantityLayout {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.price {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}

.incDecImgContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

.cartItemInfo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  /* align-items: center; */
}

.cartTotalPrice {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.cartBtnsContainer {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.viewBagBtn {
  background-color: #ffffff; 
  border: 1px solid black;
  color: rgb(0, 0, 0);
  padding: 13px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.checkoutBtn {
  background-color: #5ECE7B; 
  border: none;
  color: white;
  padding: 13px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.cartItem {
  width: 370px;
  padding-bottom: 15px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pdpcontainerT {
  position: relative;

}