body {
  background-color: #ffffff;
}

.navbar {
  margin: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 20px;
}

.categoriesContainer {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 20px;
}

.cartContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 20px;
}

.PLPcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  gap: 10px 10px;
  row-gap: 50px;
  column-gap: 45px;
  margin-bottom: 30px;
}

.PLPimage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.PLPimageContainer {
  position: relative;
  width: 354px;
  height: 330px;
}

.PLPitem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 354px;
  height: auto;
  padding: 10px;
  transition: box-shadow 0.3s;
}

.PLPitemInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  gap: 8px;
}

.PLPitem:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.PDPcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
 
}


.PDPgallery {
  display: flex;
  flex-direction: row;
}




.galleryImagesContainer {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}


.PDPimage {
  width: 500px;
}

.Attrs {
  display: flex;
  flex-direction: column;
 
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.itemAtrrs {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cartOverLay {
  position: absolute;
  /* top: 10%; */
  left: 80%;
  width: auto;
  height: auto;
  /* float: right; */


  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* z-index: 100; */
}

.currencyMenu {
  position: absolute;
}

.miniCartImg {
  width: 100px;
  height: 100px;
  object-fit: contain;
}